/*main styling*/
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}
.container {
  margin: auto;
  padding: 10px;
}
.btn {
  display: inline-block;
  font-size: 20px;
  background: #333;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(142, 142, 142);
  color: rgb(150, 123, 87);
}
#navbar {
  background-color: rgb(75, 75, 75);
  color: bisque;
  overflow: auto;
}

a {
  color: white;
  text-decoration: none;
}
#navbar h1 {
  color: white;
  padding: 10px;
  text-align: center;
}
#navbar ul {
  list-style: none;
  float: right;
}
#navbar ul li {
  float: left;
}
#navbar ul li a {
  display: inline;
  padding: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}
#navbar ul li a:hover {
  background-color: rgb(142, 142, 142);
  color: blue;
}
#navbar h1 {
  float: left;
}
/*Showcase*/
#showcase {
  background: url("1.jpg") no-repeat center center/cover;
  height: 700px;
}
#showcase .showcase-content {
  color: white;
  text-align: center;
  padding-top: 20px;
}
#showcase .showcase-content {
  color: #b6b6b4;
  font-size: 25px;
  line-height: 1.5em;
}
/* home info
 */
#home_info {
  height: 400px;
}
#home_info .info_img {
  float: left;
  background: url("8.jpg") no-repeat center center/cover;
  width: 49.7%;
  border: 1px solid;
  min-height: 100%;
}
#home_info .info_content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}
#home_info {
  padding: 5px 0;
}
.info_content {
  background-color: rgb(220, 202, 202);
  padding: 0px 0;
  line-height: 1.5em;
  font-size: 20px;
  border: 1px solid;
  text-align: center;
  width: 50%;
}
.box {
  float: left;
  width: 33%;
  height: 150px;
  margin: 2px;
  text-align: center;
  background: #d3cccc;
  color: #333;
}
.clr {
  clear: both;
}
.box p {
  padding: 5px;
}
.box h3 {
  padding: 5px;
  margin: 0;
}
#min_footer {
  text-align: center;
  background: #aaa;
  color: white;
  float: inline-start;
  padding: 1px;
}
